.inbox-page{
  padding: 50px 100px 0 400px;
  background-image: url('../assets/Inbox.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 650px;
}
.inbox-heading{
  display: flex;
  align-items: center;
  color: #103D87;
}
.inbox-heading-icon{
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.inbox-list li{
  list-style: none;
}
.list-hr {
  position: relative;
  z-index: -100;
}