/* landingpage_sec1 */

.landing-page-main{
    padding-top: 80px;
    padding-inline: 100px;
    padding-bottom: 180px;
    background-image: url('/Images/bg-landingpage_sec1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.landingpage_sec1 p{
    color: #F7F8FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.55px;
    padding-bottom: 0%;
}
.landingpage_sec1 span{
    color: #F7F7FC;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
}
.landingpage_main{
    padding-inline: 120px;
    display: flex;
    justify-content: center;
}
.landingpage_main img{
    padding-top: 0% ;
    max-width: 80%;
    height: auto;  
}

.explore-btn{
    width: 176px;
    height: 37px;
    border-color: #F7F7FC;
    text-decoration: none;
}
.explore-btn:hover{
    background-color: #f7f7fc82;
}
.started-btn{
    width: 176px;
    height: 37px;
}
.whitespace{
    color: #ffffff00;
}

/* section */
section{
    margin-inline: 100px;
    margin-bottom: 80px;
}

/* landingpage_sec2 */
Icon{
    max-width: 100%;
    height: auto;
    color: #103db6;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}
.side-image{
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.landingpage_sec3 .qoutes{
    color: #232323;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.landingpage_sec3 p{
    color: rgba(35, 35, 35, 0.80);
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main_subtitle{
    color: #232323;
    font-family: Poppins;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main_content{
    color: rgba(35, 35, 35, 0.50);
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* CSS for other device */

/* Media query for smaller devices */
@media (max-width: 767px) {
    body {
      font-size: 14px;
    }

    main{
        padding-top: 80px;
        padding-inline: 30px;
        padding-bottom: 0px;
    }

    section{
        margin-inline: 30px;
        margin-bottom: 60px;
    }

    .landingpage_sec1 p{
        font-size: 30px;
        font-weight: 600;
    }

    .landingpage_sec1 span{
        color: #232323;
        text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.15);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .landingpage_main{
        padding-inline: 0px;
        display: flex;
        justify-content: center;
    }
    .landingpage_main img{
        max-width: 100%;
        height: auto;  
    }

    .explore-btn{
        color: #232323;
        width: 130px;
        height: 37px;
        border-color: #2323238d;
        background-color: #23232318;
        border-radius: 10px;
    }
    .explore-btn:hover{
        background-color: #00000042;
    }
    .started-btn{
        width: 130px;
        height: 37px;
        font-size: small;
        border-radius: 10px;
    }
    .whitespace{
        color: #ffffff00;
    }
    
    
    /* landingpage_sec2 */
    
    .responsive-image{
        max-width: 250px;
        height: auto;
    }
    .side-image{
        max-width: 250px;
        height: auto;
    }

    .landingpage_sec2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .landingpage_sec3 .qoutes{
        color: #232323;
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
    }
    .landingpage_sec3 p{
        color: rgba(35, 35, 35, 0.80);
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 500;;
    }
    
    .main_subtitle{
        padding-inline: 20px;
        color: #232323;
        font-size: 20px;
        font-weight: 700;
        text-align: start;
    }
    .main_content{
        padding-inline: 20px;
        color: #232323d1;
        font-size: 15px;
        font-weight: 400;
        text-align: justify;
    }
  }
  
  /* Media query for larger devices */
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 18px;
    }

    main{
        padding-top: 80px;
        padding-inline: 100px;
        padding-bottom: 50px;
    }

    section{
        margin-inline: 100px;
        margin-bottom: 100px;
    }

    .landingpage_sec1 p{
        font-size: 35px;
        font-weight: 600;
    }

    .landingpage_sec1 span{
        color: #232323;
        text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.15);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .landingpage_main{
        padding-inline: 0px;
        display: flex;
        justify-content: center;
    }
    .landingpage_main img{
        max-width: 100%;
        height: auto;  
    }

    .explore-btn{
        color: #232323;
        width: 150px;
        height: 37px;
        border-color: #2323238d;
        background-color: #23232318;
        border-radius: 5px;
    }
    .explore-btn:hover{
        background-color: #00000042;
    }
    .started-btn{
        width: 150px;
        height: 37px;
        font-size: medium;
        border-radius: 5px;
    }
    .whitespace{
        color: #ffffff00;
    }
    
    
    .landingpage_sec2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .landingpage_sec3 .qoutes{
        color: #232323;
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
    }
    .landingpage_sec3 p{
        color: rgba(35, 35, 35, 0.80);
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 500;;
    }
    
    .main_subtitle{
        padding-inline: 20px;
        color: #232323;
        font-size: 25px;
        font-weight: 700;
        text-align: start;
    }
    .main_content{
        padding-inline: 20px;
        color: #232323d1;
        font-size: 20px;
        font-weight: 400;
        text-align: justify;
    }
  }
  
  /* Media query for extra-large devices */
  @media (min-width: 1024px) {

    main{
        padding-top: 80px;
        padding-inline: 100px;
        padding-bottom: 150px;
    }

    section{
        margin-left: 120px;
        margin-bottom: 80px;
    }

    .landingpage_sec1 p{
        font-size: 50px;
        font-weight: 600;
    }

    .landingpage_sec1 span{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        font-size: 20px;
        font-weight: 400;
    }

    .landingpage_main{
        padding-inline: 80px;
        display: flex;
    }
    .landingpage_main img{
        max-width: 80%;
        height: auto;  
    }

    .explore-btn{
        width: 176px;
        height: 37px;
        border-color: #F7F7FC;
        text-decoration: none;
    }
    .explore-btn:hover{
        background-color: #f7f7fc82;
    }
    .started-btn{
        width: 176px;
        height: 37px;
    }
    
    /* landingpage_sec2 */
    
    .responsive-image{
        max-width: 70%;
        height: auto;
    }
    .side-image{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    
    .landingpage_sec3 .qoutes{
        color: #232323;
        font-family: Poppins;
        font-size: 35px;
        font-weight: 500;
    }
    .landingpage_sec3 p{
        color: rgba(35, 35, 35, 0.80);
        font-family: DM Sans;
        font-size: 25px;
        font-weight: 500;;
    }
    
    .main_subtitle{
        color: #232323;
        font-size: 29px;
        font-weight: 700;
    }
    .main_content{
        color: rgba(35, 35, 35, 0.50);
        font-size: 25px;
        font-weight: 400;
    }
  } 
