.login-page{
  display: flex;
  width: 100%;
  background: linear-gradient(
    to right,
    #ECF1F5 0%,
    #ECF1F5 50%,
    #F7F8FF 50%,
    #F7F8FF 100%
  );
}
.login-col1{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 50%;
  background-color: #ECF1F5;
  color: #103D87;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins';
}
.login-col1 p{
  width: 50%;
  font-size: 20px;
}
.login-col2{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: #232323;
}
.login-col1 img{
  width: 80%;
}
#login-logo{
  width: 184px;
  margin-bottom: 40px;
}
.login-col2 h2{
  margin-bottom: 20px;
}
.login-heading-text{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.login-col2 li{
  display: flex;
  border: solid #979797 1px;
  padding: 5px 0;
  border-radius: 5px;
  font-weight: 500;
  color: #393939;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 325px;
  margin-bottom: 10px;
}
.login-option-btns{
  width: 16px;
  margin-right: 10px;
}
.or-text{
  background-color: #F7F8FF;
  padding: 0 20px;
  margin-top: -30px;
  margin-bottom: 40px;
}
.or-line{
  border: solid 1px #555555;
  width: 325px;
  opacity: 1;
}
.login-form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.login-input{
  height: 37px;
  width: 325px;
  border-radius: 5px;
  border: 1px solid #979797;
  padding-left: 10px;
}
.remember-me{
  display: flex;
  gap: 10px;
}
.login-form button{
  height: 37px;
  width: 325px;
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 30px;
  cursor: pointer;
}
.login-signup-footer{
  margin-top: 100px;
  opacity: 0.6;
}
@media only screen and (max-height: 680px) {
  .login-col1, .login-col2{
    padding-top: 50px;
  }
  .or-text{
    margin-bottom: 20px;
  }
  .login-form{
    gap: 20px;
  }
  .login-form button{
    margin-bottom: 10px;
  }
  .login-col1 p{
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .login-page{
    background: #F7F8FF;
  }
  .login-col1{
    display: none;
  }
  .login-col2{
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  .login-input{
    width: 280px;
    margin-inline: auto;
  }
  .or-line{
    border: solid 1px #555555;
    width: 280px;
    opacity: 1;
  }
  .login-form button{
    width: 280px;
  }
  .login-col2 li{
    width: 280px;
  }
}


