.notifications-container {
  padding-inline: 100px;
  max-width: 1440px;
  margin-inline: auto;
}
.row .justify-content-end img {
  width: 100px;
}
.notif-image {
  padding-top: 25px;
}
.notif-image img {
  width: 500px;
}
.noif-bold {
  padding-top: 25px;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
}
.notif-reg {
  font-family: Poppins;
  text-align: center;
}
.notif-bell{
  display: flex;
  align-items: center;
  color: #242424;
}
.notif-bell-icon{
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sort-by{
  display: flex;
  align-items: center;
  color: #242424;
}
.sort-by-icon {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}