.notifications-page {
  padding: 50px 100px 0 400px;
}
.notifications-heading {
  display: flex;
  align-items: center;
  color: #242424;
}
.notif-bell-icon {
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.notif-image {
  padding-top: 10px;
}
.notif-image img {
  width: 300px;
  opacity: 0.7;
}
.noif-bold {
  padding-top: 25px;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
}
.notif-reg {
  font-family: Poppins;
  text-align: center;
}
