.priorities-page {
  padding: 50px 100px 0 400px;
}
.priorities-heading {
  display: flex;
  align-items: center;
  color: #FFA500;
  margin-bottom: 30px;
}
.priorities-heading-icon {
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.priorities-list li {
  list-style: none;
}
