.modal-overlay {
  z-index: 9999;
  background-color: #103cb63d;
}

.modal-dialog {
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #f7f7fc;
  width: 350px;
  height: 300px;
  position: absolute;
}

.modalHeader {
  display: flex;
  justify-content: center;
  font-size: 100px;
  padding-bottom: 0;
  color: rgb(35, 101, 60);
  border-bottom: 1px solid rgba(0, 0, 0, 0.193);
}

.inputTitle {
  border: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: 232323;
  width: 100%;
  padding-top: 5px;
  height: 40px;
}

.modal-btn {
  border: none;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

@media (max-width: 767px) {
  .modal-dialog {
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

@media (max-width: 1024px) {
  .modal-dialog {
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
