.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.task-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.task-input input{
  border: none;
  outline: none;
}

.modal-content {
  background-color: #fff;
  margin: 130px 0 0 340px;
  padding: 10px 15px;
  border: 1px solid #888;
  width: 400px;
}
.modal-btns{
  display: flex;
  gap: 10px;
}
.modal-btns li{
  list-style: none;
  cursor: pointer;
}
.modal-btn{
  font-size: 10px;
  padding: 2px 10px;
  border: 1px solid #616161;
  border-radius: 6px;
}
.modal-cancel-btn{
  padding: 0 15px;
  border: 1px solid;
  border-radius: 6px;
}
.modal-cancel-btn:hover{
  background-color: #dddddd;
}
.modal-add-btn{
  padding: 0 15px;
  border-radius: 6px;
}
.modal-add-cancel-btns{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.org-when{
  color: #298683;
  border: 1px #298683 solid;
}
.priority-btn{
  color: #FFA500;
  border: 1px #FFA500 solid;
}
.modal-btn{
  opacity: 0.7;
}
.modal-btn:hover{
  opacity: 1;
}