.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.task-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.task-input input {
  background-color: transparent;
  border: none;
  outline: none;
  
}

.task-modal-content {
  background-color: #fff;
  margin: 130px 0 0 340px;
  padding: 10px 15px;
  border: 1px solid #888;
  width: 400px;
  height: auto!important;
  border-radius: 10px;
}
.modal-btns {
  display: flex;
  gap: 10px;
}

.task-modal-btn.pressed1{
  background-color: #13b3ad39;
  color: #2b2b2b;
  border: 1px #298683 solid;
  opacity: 1;
}
.task-modal-btn.pressed2{
  background-color: #fafa003f;
  opacity: 1;
  color: #2b2b2b;
  border: 1px #FFA500 solid;
}
.task-modal-btn.pressed3{
  background-color: #a4a4a420;
  opacity: 1;
}

.task-modal-btn {
  font-size: 10px;
  padding: 3px 15px;
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  opacity: 0.7;
}
.modal-cancel-btn {
  padding: 0 15px;
  border: 1px solid;
  border-radius: 6px;
  transition: 0.15s;
}
.modal-cancel-btn:hover{
  background-color: #dcdcdc;
}
.modal-add-btn {
  padding: 0 15px;
  border-radius: 6px;
}
.modal-add-cancel-btns {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.org-when{
  color: #757575;
  border: 1px #757575 solid !important;
}
.priority-btn{
  color: #757575;
  border: 1px #757575 solid !important;
}
.category-btn{
  color: #757575;
  border: 1px #757575 solid !important;
}
.task-modal-btn:hover {
  opacity: 1;
}
.task-modal-hr{
  opacity: 0.4;
  z-index: 1;
}
