.Today_header {
  display: flex;
  gap: 10px;
}

.Today {
  color: #298683;
}

.Today_section {
  padding-left: 50px;
  margin-bottom: 10px;
}
.Today_section p {
  margin-bottom: 15px;
}
.Today_section2 {
  display: flex;
  gap: 20px;
}
.Today_icons {
  display: flex;
  justify-content: space-evenly;
}
.today2 {
  color: #298683;
}
